.container_signup body {
  background: linear-gradient(135deg, #f0f3f5, #e7e8e9);
  background-size: 400% 400%;
  /* animation: gradientShift 10s ease infinite; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_signup {
  background: #ffffff;
  width: 380px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}
.container_signup h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.container_signup .input-group {
  margin-bottom: 20px;
}
.container_signup label {
  font-size: 14px;
  color: #555;
}
.container_signup input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}
.container_signup input:focus {
  border-color: #6d28d9;
  box-shadow: 0 0 8px rgba(109, 40, 217, 0.3);
}
.container_signup button {
  width: 100%;
  padding: 14px;
  background: #6d28d9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 600;
  transition: 0.3s;
}
.container_signup button:hover {
  background: #5b21b6;
}
.container_signup .footer-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
}
.container_signup .footer-text a {
  color: #6d28d9;
  text-decoration: none;
  font-weight: 600;
}
/* @keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
